@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="//www.parsecdn.com/js/parse-1.2.19.min.js"></script>
<script src="https://npmcdn.com/parse@1.9.2/dist/parse.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>


<script>
    Parse.initialize("hm3HmqcHxgfMQxP2SF0Ue0at67HFqqxeYq5ZxKoR", "nweYdxbTDxFnWp85o2xxqNu6Gl8zDKnaZyxGWkAe");
    Parse.serverURL = 'https://parseapi.back4app.com'
</script>

<div class="container">
    hi
</div>

<script>
    $(document).ready(function () {
        var User = Parse.Object.extend("User");
        var query = new Parse.Query(User);

        query.find({
            success: function (results) {
                debugger;
            },
            error: function (error) {
                alert("Error: " + error.code + " " + error.message);
            }
        });
    });
</script>